{% extends 'index.html' %} {% load static %} {% block title %}Hacer una Reserva{% endblock %} {% block content %}
<div class="container">
    <h2>Hacer una Reserva</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.room.id_for_label }}">Habitación:</label> {{ form.room }}
        </div>

        <div class="form-group">
            <label for="{{ form.check_in.id_for_label }}">Check-in:</label>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form.check_in }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.check_out.id_for_label }}">Check-out:</label>
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                {{ form.check_out }}
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Hacer Reservación</button>
    </form>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        $('#datetimepicker1').on("change.datetimepicker", function(e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $('#datetimepicker2').on("change.datetimepicker", function(e) {
            $('#datetimepicker1').datetimepicker('maxDate', e.date);
        });
    });
</script>
{% endblock %}